.example-container{
         
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.form-container{
    text-align: center;
    flex-direction: row;
    margin: 10vh 60vw 0 60vw;
}

.form-field{
    width: 18vw;
}

.submit-button {
    background-color: rgb(81, 135, 235) !important;
}

.error-message {
    color: red;
    font-size: 14px;
}