.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: cornflowerblue;
    color: #f2eee9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.logo {
    font-family: 'Baloo 2', cursive;
    font-weight: 1000;
    font-size: 2rem;
    color: #f2eee9;
    text-decoration: none;
    display: inline-block;
    padding: 10px 16px;
}

.navbar-right button{
    background-color: rgb(81, 135, 235) !important;
    color: white !important;
}