<mat-toolbar class="navbar" color="primary">

  <!-- LEFT: menu dropdown -->
  <div class="navbar-left">
    <button mat-button [matMenuTriggerFor]="mainMenu" class="menu-btn">
      <mat-icon aria-hidden="true">menu</mat-icon>
      Menu
    </button>

    <mat-menu #mainMenu="matMenu">
      <button mat-menu-item routerLink="/vehicles">
        <mat-icon aria-hidden="true">directions_car</mat-icon>
        <span>Vehicles</span>
      </button>

      <button mat-menu-item routerLink="/reservations" *ngIf="isLoggedIn()">
        <mat-icon aria-hidden="true">history</mat-icon>
        <span>Reservation history</span>
      </button>
    </mat-menu>
  </div>

  <!-- CENTER: logo -->
  <div class="logo" routerLink="/">BlueRent</div>

  <!-- RIGHT: auth buttons -->
  <div class="navbar-right">
    <ng-container *ngIf="!isLoggedIn(); else loggedInTpl">
      <button mat-flat-button routerLink="/login">Log In</button>
      <button mat-flat-button routerLink="/register">Register</button>
    </ng-container>

    <ng-template #loggedInTpl>
      <button mat-flat-button (click)="logout()">Log Out</button>
    </ng-template>
  </div>

</mat-toolbar>
